.layout-breadcrumb {
    margin-left: 4rem;

    ol {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 1rem;
        flex-wrap: wrap;
        color: white;
        font-weight: bold;
    }
}