$primaryColor: #e85d04;

$primaryLightColor: #f5c4a8 !default;
$primaryDarkColor: #d45203 !default;
$primaryDarkerColor: #ba4702 !default;
$primaryTextColor: #ffffff;

$highlightBg: #fef3ed;
$highlightTextColor: $primaryDarkerColor;

@import '../../../core/layouts/PrivateAppLayout/styles/theme/theme-light/variables';
@import '../../../core/layouts/PrivateAppLayout/styles/theme/theme-base/components';
@import '../../../core/layouts/PrivateAppLayout/styles/theme/theme-light/extensions';
